@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300;1,400&display=swap");
@import url('./response_app.css');
*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  margin: 3px;
  position: relative;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: white;
}
.container {
  padding-bottom: 35px;
}
