@media (max-width: 950px) {
  header {
    flex-direction: column;
  }
  .homePage {
    flex-direction: column;
    align-items: center;
  }
  .home-text-box {
    font-size: 30px;
    margin-top: 120px;
  }
  .details-text {
    max-width: 50%;
    font-size: 10px;
  }
  .details-info-img img {
    max-width: 70%;
    min-height: 50%;
  }
  #comment-area {
    width: 80%;
    margin: auto;
  }
  #inp-name {
    width: 50%;
    margin: auto;
  }
  .comment-container {
    max-width: 90%;
    margin: auto;
  }
  .my-msg-stra {
    max-width: 90%;
  }
}

/* MEDIA  600px */
@media (max-width: 600px) {
  header {
    flex-direction: column;
  }
  .homePage {
    flex-direction: column;
    align-items: center;
  }
  .homePage-img {
    min-width: 100%;
  }
  .home-message {
    min-width: 100%;
  }
  .home-text-box {
    font-size: 30px;
    margin-top: 120px;
  }
  .footer {
    flex-direction: column;
    min-height: 4.5rem;
  }
  .catalog {
    padding-bottom: 40px;
  }
  /* catalog */
  .cards .card {
    width: 140px;
  }
  .cards .card .img img {
    width: 80px;
    height: 100px;
  }
  .info {
    flex-direction: column;
  }

  /* Details */
  .details {
    min-width: 100%;
  }
  .details-info {
    flex-direction: column;
  }
  .details-info-img {
    min-width: 100%;
  }
  .details-info-img img {
    min-width: 100%;
    margin: auto;
  }
  .details-text {
    max-width: 100%;
    font-size: 20px;
  }
  .article-info {
    flex-direction: column;
  }
  .art-info-items {
    min-width: 100%;
  }
  .message-box {
    min-width: 90%;
  }
  #root > section > section > article.article-info > article > form {
    margin: auto;
  }
  /* Profile */

  .profile {
    flex-direction: column;
  }
  .profile-img-liks-section {
    min-width: 90%;
  }
  .profile-img-section img {
    width: 110px;
  }
  .profile-info {
    min-width: 90%;
  }
  /* Messages */
  .msg-box-content {
    flex-wrap: wrap;
  }
  .message-conrainer {
    min-width: 100%;
    height: 60ch;
  }
  .msg-box-message-content {
    font-size: 0.7em;
  }
  .msg-box {
    min-width: 90%;
    font-size: 1.6em;
  }
  .chat-msg-box,
  .chat-msg-box-me {
    min-width: 100%;
  }
  #txt-area {
    font-size: 1.5em;
  }

  .discussion-container {
    flex-direction: column;
  }
  .discussion-article-info-img {
    min-width: 100%;
  }
  .discussion-art-img {
    width: 100%;
  }
  .discussion-art-img img {
    max-width: 150px;
    max-height: 150px;
  }
  .chat-msg-container {
    min-width: 100%;
  }
  .del-discuss-btn {
    margin-bottom: 20px;
  }
  /* create , edit*/
  .create-article,
  .edit-article {
    min-width: 100%;
  }
  .create-article-box form,
  .edit-article-box form {
    min-width: 80%;
  }

  /*login /register*/
  .login-box,
  .register-box {
    min-width: 100%;
  }
  .login-form,
  .register-form {
    min-width: 100%;
  }
  .register-box .register-untertitle,
  .signin,
  .signup,
  .login-untertitle,
  .login-form label,
  .login-form input,
  .register-form label,
  .register-form input,
  .create-article-box .create-art-untertitle,
  .create-article-box form label,
  .edit-article-box form label {
    font-size: large;
  }
}

@media screen and (orientation: landscape) {
  #hm-txt-bx {
    position: static;
    transform: none;
  }
}
@media (max-width: 350px) {
  .homePage-img {
    min-width: 50%;
  }
  .nav {
    margin: 0;
  }
  .footer .footer-title {
    font-weight: 100;
    font-size: medium;
  }
  .cards .card {
    width: 37%;
  }
  article.likes-dtl {
    width: 50%;
  }
  article.article-info > ul > li {
    font-size: smaller;
  }
  .details-text {
    font-size: medium;
  }
  .user-info p strong.data-span {
    padding: 0;
  }
  #root > header > nav > ul {
    padding: 0;
  }
}
