
.homePage {
  display: flex;
}
.homePage-img {
  max-width: 50%;
}
.homePage-img img {
  width: 100%;
}
.home-message {
  width: 50%;
  color: #7fabf1;
  font-size: 3em;
  position: relative;
}
.home-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
